/* public */
.nchu.calendar, .nchu.calendar>div {
    margin-top: .5em;
}
.nchu.calendar table {
    border-collapse:collapse;
    border: 1px solid rgba(204, 204, 204, 0.24) !important;
    margin-bottom: .5em !important;
}
.nchu.calendar div.header {
    color: #000;
    text-align: center;
    margin-top: .3em;
    margin-bottom: .5em;
    font-size: 1.5em;
}
.nchu.calendar div.header .mode.buttons {
    position: absolute;
    right: .5em;
    font-size: 10px;
}
.nchu.calendar div.main,  .nchu.calendar div.header{
    width: 100%;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.nchu.calendar div.main .colorful {
    background-color: rgb(8, 138, 120);
    color: #fff;
    text-align: center;
    font-size: 22px;
}
.nchu.calendar div.main td.search {
    font-size: .8em;
}
.nchu.calendar div.main td.search .divider {
    font-size: 1.5em;
}
.nchu.calendar div.main .day.header, .nchu.calendar div.main .year.header {
    border: 1px solid rgba(255, 255, 255, 0.315) !important;
}
.nchu.calendar div.main .month .prev.button, .nchu.calendar div.main .month .next.button, .nchu.calendar div.main .date .prev.button, .nchu.calendar div.main .date .next.button {
    vertical-align: middle;
    font-size: 23px;
    margin-left: .1em;
    margin-right: .1em;
}
.nchu.calendar div.main .month.mode thead .colorful.day.header {
    line-height: .25em;
}
.nchu.calendar div.main .month.mode .day.cell, .nchu.calendar div.main .week.mode .day.cell {
    padding: .7em;
    border: 1px solid #ccc !important;
    height: 10em;
    vertical-align: top;
}
/* disabled prev and next month */
.nchu.calendar div.main .month.mode .different.day.cell::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.589);
}
.nchu.calendar div.main .month.mode .day.cell h2 {
    margin-bottom: .02em;
}
.nchu.calendar div.main .month.mode .day.cell h2.holiday {
    color: red;
}
.nchu.calendar div.main .month.mode .day.cell .schedules div, .nchu.calendar div.main .week.mode .day.cell .schedules div{
    border-left: 3px solid;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.5em;
    white-space: nowrap;
    margin-bottom: 0.5em;
    width: 100%;
}
.nchu.calendar div.main .month.mode .day.cell .schedules div .text, .nchu.calendar div.main .week.mode .day.cell .schedules div .text {
    border: none;
}
.nchu.calendar div.main .month.mode .day.cell .schedule.overflow, .nchu.calendar div.main .week.mode .day.cell .schedule.overflow {
    padding: 2px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.nchu.calendar div.main .month.mode .day.cell .schedules .conference, .nchu.calendar div.main .week.mode .day.cell .schedules .conference {
    border-color: rgb(190, 81, 7);
    background-color: rgba(240, 132, 61, 0.692);
}
.nchu.calendar div.main .month.mode .day.cell .schedules .test, .nchu.calendar div.main .week.mode .day.cell .schedules .test {
    border-color: rgb(150, 21, 155);
    background-color: rgba(217, 41, 223, 0.534);
}
.nchu.calendar div.main .month.mode .day.cell .schedules .course, .nchu.calendar div.main .week.mode .day.cell .schedules .course {
    border-color: rgb(25, 57, 117);
    background-color: rgba(54, 99, 182, 0.466);
}
.nchu.calendar div.main .month.mode .day.cell .schedules .other, .nchu.calendar div.main .week.mode .day.cell .schedules .other {
    border-color: rgb(22, 129, 22);
    background-color:  rgba(56, 216, 56, 0.527);
}

/* week mode */
.nchu.calendar div.main .week.mode thead .colorful.year.header {
    line-height: 1.8em;
    font-size: 1.8em;
    padding-top: .15em;
    padding-bottom: .15em;
}
.nchu.calendar div.main .week.mode thead .colorful.day.header {
    line-height: normal;
    padding-top: .25em;
    padding-bottom: .25em;
}
.nchu.calendar div.main .week.mode thead .colorful.day.out{
    border-top:40px #D6D3D6 solid;
    width:0px;
    height:0px;
    border-left:80px #BDBABD solid;
    position:relative;
}
.nchu.calendar div.main .week.mode thead .colorful.day em{
    font-style:normal;
    display:block;
    position:absolute;
    width:50%;
    font-size: 1.1em;
}
.nchu.calendar div.main .week.mode thead .colorful.day em.sup{
    top: .3em;
    right: .3em;
}
.nchu.calendar div.main .week.mode thead .colorful.day em.sub{
    bottom: .3em;
    left: .3em;
}

@media only screen and (max-width:767px){
    /* public */
    .nchu.calendar div.header {
        text-align: left;
        font-size: 1.2em;
    }
    .nchu.calendar div.main .colorful {
        font-size: 1.2em;
    }
    .nchu.calendar div.main thead .colorful.day.header {
        font-size: 0.8em;
    }
    .nchu.calendar div.main .month .prev.button, .nchu.calendar div.main .month .next.button, .nchu.calendar div.main .date .prev.button, .nchu.calendar div.main .date .next.button {
        font-size: 1.6em;
        margin-left: .5em;
        margin-right: .5em;
    }
    .nchu.calendar div.main td.search {
        font-size: .5em;
    }
    .nchu.calendar div.main td.search .stackable.dropdowns .divider {
        font-size: 1.5em;
        display: flex;
    }
    .nchu.calendar div.main td.search .stackable.dropdowns .dropdown {
        width: 100%;
        display: block;
        font-size: 1.5em;
    }
    .nchu.calendar div.main td.search select{
        font-size: .7em;
        line-height: normal;
        padding-top: .3em;
        padding-bottom: .3em;
    }
    /* month mode */
    .nchu.calendar div.main .month.mode .day.cell {
        padding: .3em;
        height: 5em;
    }
    .nchu.calendar div.main .month.mode .day.cell .schedules div, .nchu.calendar div.main .week.mode .day.cell .schedules div{
        vertical-align: middle;
        height: 1.5em;
        margin-bottom: 0.3em;
    }
    .nchu.calendar div.main .month.mode .day.cell h2 {
        font-size: 1.5em;
    }
    /* week mode */
    .nchu.calendar div.main .week.mode thead .colorful.day em{
        font-style:normal;
        display:block;
        position:absolute;
        width:50%;
        font-size: 1em !important;
    }
    .nchu.calendar div.main .week.mode thead .colorful.year.header {
        line-height: .8em;
        font-size: .8em;
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .nchu.calendar div.main .week.mode thead .colorful.day.header {
        font-size: .8em;
        line-height: normal;
        padding-top: .15em;
        padding-bottom: .15em;
    }
}

@media(hover: hover) and (pointer: fine) {
    .nchu.calendar div.main .month i.button:hover, .nchu.calendar div.main .date i.button:hover {
        background-color: rgba(255, 255, 255, 0.322);
        cursor: pointer;
    }
    .nchu.calendar div.main .month.mode .day.cell .schedules div:hover::after, .nchu.calendar div.main .week.mode .day.cell .schedules div:hover::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.295)
    }
    .nchu.calendar div.main .month.mode .day.cell .schedule.overflow:hover, .nchu.calendar div.main .week.mode .day.cell .schedule.overflow:hover {
        background-color: rgba(146, 146, 146, 0.466);
        cursor: pointer;
        border-radius: 3px;
    }
}
.nchu.calendar div.main .month i.button:active, .nchu.calendar div.main .date i.button:active {
    background-color: rgba(255, 255, 255, 0.596);
    cursor: pointer;
}
.nchu.calendar div.main .month.mode .day.cell .schedules div:active::after, .nchu.calendar div.main .week.mode .day.cell .schedules div:active::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.075)
}
.nchu.calendar div.main .month.mode .day.cell .schedule.overflow:active, .nchu.calendar div.main .week.mode .day.cell .schedule.overflow:active {
    background-color: rgba(107, 107, 107, 0.582);
    cursor: pointer;
    border-radius: 3px;
}
